<div class="modal" id="modal-1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h5 class="modal-title">LICENSE</h5>
            <p>
                The <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">
                Codeberg Documentation website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ urls.docsSourcesMaster }}/CONTRIBUTORS.md" property="cc:attributionName" rel="cc:attributionURL">The Codeberg Documentation Contributors</a> 
                is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
            <p>
                It bundles third-party font software licensed under a different license.
                Please look at <a href="{{ urls.docsSourcesMaster }}/LICENSE.md">the LICENSE file</a> for details.
            </p>
            <p>
                Changes to the original versions of the article as well as its individual authors can be looked up in 
                <a href="{{ urls.commitHistoryMaster }}/{{ page.inputPath }}" target="_blank" rel="noreferrer">this article's commit history</a>
            </p>
            <p>
                Codeberg and the Codeberg Logo are trademarks of Codeberg e.V.
            </p>
            <div class="text-right mt-20">
                <a href="#" class="btn mr-5" role="button">Close</a>
            </div>
        </div>
    </div>
</div>